<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View files</title>
</head>
<body>
  <h3>My files</h3>
  <ul>
    <% if (locals.files) { %>
     <% files.forEach(file => { %>
      <li>
        <div class="name"><%= file.fileName %> </div>
        <div class="buttons">
          <a href="/deleteFile/<%= file.id %>"><button type="button">Delete</button></a>
        </div>
      </li>
     <% }) %>
    <% } %>
    </ul>
  <% if (locals.folders) { %>
    <h3>My folders</h3>
    <ul>
     <% folders.forEach(folder => { %>
      <li>
        <a href="/viewFiles/<%= folder.id %>">
          <div class="name"><%= folder.folderName %> </div>
        </a>
        <div class="buttons">
          <a href="/deleteFolder/<%= folder.id %>"><button type="button">Delete</button></a>
        </div>
      </li>
     <% }) %>
  <% } %>
  </ul>
</body>
</html>